<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duan.seata.storyage.mapper.StorageTblMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.duan.seata.storyage.entity.StorageTbl">
        <id column="id" property="id" />
        <result column="commodity_code" property="commodityCode" />
        <result column="count" property="count" />
        <result column="freeze_count" property="freezeCount" />
    </resultMap>

</mapper>
